/*
    Selector -> Se usa para seleccionar el elemento en html para aplicar el estilo
    
    1) Universal (*)
    2) Etiqueta o elemento 
    3) Clase (.)
    4) Identificación (#)
*/
/*
 border: size (px), color, property
*/

* {
   margin: 0%;
   padding: 0%;    
   border: 2px,black,solid;
}

.class_one {
    background-color: burlywood;
    padding: 5%;
    margin: 2%;    
}

#test1{
    background-color: blue;    
    margin-bottom: 2%;
}

#test2{
    background-color: green;
    margin-bottom: 2%;
}

#test3{
    background-color: red;
}